.sidebar-items{
  background-color: #EBEBEB;
  text-align: center;
  top: 120px;
  width: 300px;
  height: 400px;
  opacity: 1;
}
.sidebar{
  top: 120px;
  position: fixed;
  background-color: #A4A4A4;
  width: 30px;
  height: 400px;
}
#frakcje-biznesy{
  height: 30px;
  width: 30px;
  background-color: #BFBFBF;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
#frakcje-biznesy:hover{
  background-color: #ADADAD;
}

#prace{
  position: fixed;
  top: 155px;
  height: 30px;
  width: 30px;
  background-color: #BFBFBF;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
#prace:hover{
  background-color: #ADADAD;
}
#custom{
  position: fixed;
  top: 190px;
  height: 30px;
  width: 30px;
  background-color: #BFBFBF;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
#custom:hover{
  background-color: #ADADAD;
}

.frakcje{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logh3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: -20px;
}
#log{
  position: relative;
  top: -30px;
}
.logidiv{
  background-color: #EBEBEB;
  position: fixed;
  top: 120px;
  right: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  size: 20px;
}
#status-reset{
  background-color: #BFBFBF;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  position: fixed;
  left: 43%;
  top: 25%;
}
#status-reset:active{
  transform: translateY(2px);
}
#status-reset:hover{
  background-color: #ADADAD;
}
#clear-log-btn{
  background-color: #BFBFBF;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  position: fixed;
  left: 43.8%;
  top: 33%;
  }
#clear-log-btn:active{
  transform: translateY(2px);
}
#clear-log-btn:hover{
  background-color: #ADADAD;
}
#set-status-button{
  background-color: #BFBFBF;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  transform: translateY(2px);
}
#set-status-button:active{
  transform: translateY(4px);
}
#set-status-button:hover{
  background-color: #ADADAD;
}
#set-status-button2{
  background-color: #BFBFBF;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  transform: translateY(2px);
}
#set-status-button2:hover{
  background-color: #ADADAD;
}
#set-status-button2:active{
  transform: translateY(4px);
}
#set-status-button3{
  background-color: #BFBFBF;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  transform: translateY(2px);
}
#set-status-button3:active{
  transform: translateY(4px);
}
#set-status-button3:hover{
  background-color: #ADADAD;
}

  