:root {
  --bgcolor: #222222;
  --czarny: white;
  --hover: #3E3E3E;
  --bialy: white;
  --bgcolorsidebar: #222222;
}
.dark-mode {
  --bgcolor: white;
  --czarny: black;
  --bialy: black;
  --hover: #C9C9C9;
  --bgcolorsidebar: #fff;
}

#button1, #button2, #button3, #button4, #button5, #button6{
  color: var(--bialy);
}
#tytul{
  text-align: center; 
  size: 50px; 
  color: var(--czarny);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#wersja{
  position: relative;
  padding-right: 6px;
  size: 15px;
  text-align: center;
  color: var(--czarny);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#autor{
  position: fixed; 
  bottom: 10px; 
  left: 10px; 
  font-size: 12px;
  color: var(--czarny);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#status{
  position: fixed; 
  bottom: 10px; 
  right: 10px;
  color: var(--czarny);
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#tekst{
  color: var(--czarny);
}
.sidebar-items {
  border: 1px solid var(--czarny);
  border-radius: 10px;
  background-color: var(--bgcolorsidebar);
  text-align: center;
  top: 120px;
  width: 300px;
  height: 400px;
  opacity: 1;
}
.sidebar{
  top: 126px;
  position: fixed;
  background-color: transparent;
  width: 30px;
  height: 400px;
}
.ustawienia-okno {
  color: var(--bialy);
  position: fixed;
  background-color: var(--bgcolor);
  text-align: center;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 600px;
  opacity: 1;
}
#ustawieniain, #ustawienia-out{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
#ustawieniain:hover, #ustawienia-out:hover{
  background-color: var(--hover);
}
#frakcje-biznesy{
  position: relative;
  left: 3px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
#frakcje-biznesy:hover{
  background-color: var(--hover);
}
#prace{
  left: 11px;
  position: fixed;
  top: 155px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
#prace:hover{
  background-color: var(--hover);
}
#custom{
  left: 11px;
  position: fixed;
  top: 186px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
#custom:hover{
  background-color: var(--hover);
}
#przyciski{
  left: 11px;
  position: fixed;
  top: 217px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
#przyciski:hover{
  background-color: var(--hover);
}

.frakcje{
  color: var(--czarny);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logh3{
  color: var(--czarny);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: -20px;
}
#log{
  animation: fade-in 0.5s ease-in-out forwards;
  color: var(--czarny);
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: -30px;
}
.logidiv{
  border: 1px solid var(--czarny);
  border-radius: 10px;
  background-color: var(--bgcolor);
  position: fixed;
  top: 120px;
  right: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  size: 20px;
}
#status_help{
  position: relative;
  left: 5px;
  top: 0px;
}
#status-reset{
  color: black;
  background-color: #4d7acc;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  position: fixed;
  left: 43%;
  top: 25%;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.3s linear;
}
#status-reset:active{
  transform: translateY(2px);
}
#status-reset:hover{
  background-color: #5a8ff0;
}
#clear-log-btn{
  background-color: #4d7acc;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  position: fixed;
  left: 43.8%;
  top: 33%;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.3s linear;
  }
#clear-log-btn:active{
  transform: translateY(2px);
}
#clear-log-btn:hover{
  background-color: #5a8ff0;
}
#set-status-button, #set-status-button2, #set-status-button3, #set-status-button4{
  position: relative;
  top: 5px;
  background-color: #4d7acc;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  transform: translateY(2px);
  width: auto;
  transition: transform 0.3s linear;
  transition: background-color 0.3s linear;
}
#set-status-button:active, #set-status-button2:active, #set-status-button3:active, #set-status-button4:active{
  transform: translateY(4px);
}
#set-status-button:hover, #set-status-button2:hover, #set-status-button3:hover, #set-status-button4:hover{
  background-color: #5a8ff0;
}
#set-button-buttons, #reset-button-buttons{
  position: relative;
  bottom: 10px;
  background-color: #4d7acc;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  transform: translateY(2px);
  transition: transform 0.3s linear;
  transition: background-color 0.3s linear;
}
#set-button-buttons:active, #reset-button-buttons:active{
  transform: translateY(4px);
}
#set-button-buttons:hover, #reset-button-buttons:hover{
  background-color: #5a8ff0;
}
#notification {
  color: white;
  position: fixed;
  bottom: 20px;
  left: 30%;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  background-color: #575757;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#loader {
  position: relative;
  left: 209px;
  bottom: 7px;
  width: 15px;
  height: 15px;
  border: 3px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#update-progress{
  position: relative;
  bottom: 30px;
}
.hidden {
  display: none;
}
body{
  background-color: var(--bgcolor);
}

#custom-status-details, #custom-status-state, #status-button-name1, #custom-status-link1, #status-button-name2, #custom-status-link2 {
  position: relative;
  text-align: center;
  color: var(--bialy);
  border: 1px solid var(--bialy);
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  transition: 0.3s;
}

#custom-status-details:focus, #custom-status-state:focus, #status-button-name1:focus, #custom-status-link1:focus:focus, #status-button-name2:focus, #custom-status-link2:focus {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 0px;
  outline: none;
  border-color: #4270c5;
  transition: 0.3s;
}
#details, #state, #nazwa, #link, #nazwa2, #link2{
  color: var(--bialy);
  position: relative;
  top: -3px;
  left: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  pointer-events: none;
  transition: 0.3s;
}
#nazwa {
  top: -14px;
}
#link {
  top: -4px;
}
#nazwa2 {
  top: -24px;
}
#link2 {
  top: -14px;
}
input[type="text"]:focus, #custom-status-details:focus ~ #details, #custom-status-details:valid ~ #details{
  top: -25px;
}
input[type="text"]:focus, #custom-status-state:focus ~ #state, #custom-status-state:valid ~ #state{
  top: -25px;
}
input[type="text"]:focus, #status-button-name1:focus ~ #nazwa, #status-button-name1:valid ~ #nazwa{
  top: -35px;
}
input[type="text"]:focus, #custom-status-link1:focus ~ #link, #custom-status-link1:valid ~ #link{
  top: -25px;
}
input[type="text"]:focus, #status-button-name2:focus ~ #nazwa2, #status-button-name2:valid ~ #nazwa2{
  top: -45px;
}
input[type="text"]:focus, #custom-status-link2:focus ~ #link2, #custom-status-link2:valid ~ #link2{
  top: -35px;
}
select {
  text-align-last: center;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
select option {
  text-align: center;
}
#status-select {
  position: relative;
  left: 2px;
}
#status-select2 {
  position: relative;
  left: -1px;
}
#select-button-ilosc{
  position: relative;
  top: 5px;
  width: 50px;
}
.container {
  width: 51px;
  height: 31px;
  position: relative;
  top: 23px;
  left: 50%;
}
.container2 {
  width: 51px;
  height: 31px;
  position: relative;
  top: 10px;
  left: 50%;
}
.container3 {
  width: 51px;
  height: 31px;
  position: relative;
  top: 0px;
  left: 50%;
}
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px/2 - 10px);
  top: calc(50% - 27px/2);
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: #34C759;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 27px/2 + 10px);
  top: calc(50% - 27px/2);
}
#kolor-tla{
  pointer-events: none;
  position: relative;
  top: 50px;
  right: 120px;
  font-size: 20px;
  color: var(--bialy);
}
#config-status{
  pointer-events: none;
  position: relative;
  top: 40px;
  right: 190px;
  font-size: 20px;
  color: var(--bialy);
}
#config-przycisk{
  pointer-events: none;
  position: relative;
  top: 40px;
  right: 190px;
  font-size: 20px;
  color: var(--bialy);
}
#config-reset{
  pointer-events: none;
  position: relative;
  top: 40px;
  right: 190px;
  font-size: 20px;
  color: var(--bialy);
}
#config-reset-notification {
  pointer-events: none;
  position: relative;
  top: 50px;
  left: -100px;
  font-size: 15px;
  color: var(--bialy);
  transition: 0.4s;
}
#reset-config {
  position: relative;
  background-color: #4d7acc;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  transform: translateY(2px);
  transition: transform 0.3s linear;
  transition: background-color 0.3s linear;
  left: 20px;
  top: 2px;
  text-align: center;
}
#reset-config:active {
  transform: translateY(4px);
}
#reset-config:hover{
  background-color: #5a8ff0;
}
  