.przyciski{
    height: 100px;
    width: 780px;
  }
  .pasek {
    position: fixed;
    top: 37%;
    height: 2px;
    width: 100%;
    background-color: black; 
  }
  .logi{
    text-align: center;
    size: 20px;
  }

  